/* html {
	overflow-y: scroll;
} */

body {
    padding-top: 125px;
}

.hidden {
  display: none;
}

.white-label {
  color: white;
}

.glyphicon-linkbutton {
	color: #434a54;
}

input.item-cell {
	display: block !important; 
	padding: 0 !important; 
	margin: 0 !important; 
	border: 0 !important; 
	width: 100% !important; 
	border-radius: 0 !important; 
	line-height: 1 !important;
}

td.item-cell {
	margin: 0 !important; 
	padding: 0 !important;
}
