<div class="text-center panel panel-default">
	<div class="panel-heading"><h3>We are Team Cerberus:</h3></div>
	
	<div class="panel-body">	
		<a href="https://github.com/Team-Cerberus">
			<img class="img-responsive center-block" src="resources/cerberus.jpg" alt="team cerberus github page">
		</a>
	</div>
	

	<div class="panel-body">
		<ul class="list-group">
			<li class="list-group-item">
				<h5>Stefan Ludzhev
					<a href="https://telerikacademy.com/Users/ludzhev">
						<span class="glyphicon glyphicon-education glyphicon-linkbutton"></span>
					</a>
					<a href="#">
						<span class="glyphicon glyphicon-envelope glyphicon-linkbutton"></span>
					</a>
					<a href="https://github.com/ludzhev">
						<span class="glyphicon glyphicon-globe glyphicon-linkbutton"></span>
					</a>
				</h5>
			</li>
			
			<li class="list-group-item">
				<h5>Stefan Danchev
					<a href="https://telerikacademy.com/Users/hankrum">
						<span class="glyphicon glyphicon-education glyphicon-linkbutton"></span>
					</a>
					<a href="#">
						<span class="glyphicon glyphicon-envelope glyphicon-linkbutton"></span>
					</a>
					<a href="https://github.com/hankrum">
						<span class="glyphicon glyphicon-globe glyphicon-linkbutton"></span>
					</a>
				</h5>
			</li>
						
			<li class="list-group-item">
				<h5>Deyan Nikolov
					<a href="https://telerikacademy.com/Users/deyan.nikolov">
						<span class="glyphicon glyphicon-education glyphicon-linkbutton"></span>
					</a>
					<a href="#">
						<span class="glyphicon glyphicon-envelope glyphicon-linkbutton"></span>
					</a>
					<a href="https://github.com/nikolovdeyan">
						<span class="glyphicon glyphicon-globe glyphicon-linkbutton"></span>
					</a>
				</h5>
			</li>
		</ul>
	</div>
</div>
