<div class="jumbotron text-center">
    <h1>Invoice Section</h1>
</div>
<div class="container">
    <form action="">
        <div class="form-group row">
            <!-- Left Column -->
            <div class="col-lg-3">
                <label for="input1">Издател:</label>
                <input type="text" id="input1" class="form-control" name="" value=""/>
            </div>
            <!-- Middle Column -->
            <div class="col-lg-6">
                <p>Фактура</p>
            </div>
            <!-- Right Column -->
            <div class="col-lg-3">
                <label for="input3">Получател:</label>
                <input type="text" id="input3" class="form-control" name="" value=""/>
            </div>
        </div>
    </form>
</div>
