<div class="text-center panel panel-default">
	<div class="panel-heading">
		<h3>Invoice Application</h3>
		<h4>A course project of Team Cerberus</h4>
	</div>
	<div class="panel-body">
		<p>This single page application is a course project for the <a href="https://github.com/TelerikAcademy/JavaScript-Applications">JavaScript Applications Course</a> of Telerik Academy. 
	</div>
	
	<div class="panel-body">
		<h4 class="well-lg">YouTube Video Presentation</h4>
		<div class="responsive-video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen>
			</iframe>
		</div>
	</div>	
</div>