<div class="container panel panel-default">
	<div class="row">
        <h2>Invoices for user <span class='label'>{{userName}}</span></h2>
		<h3>Invoices</h3>
		<div class="list-group">
			{{#each invoices}}
				<a href="#/user/{{userName}}/invoices/{{id}}" class="list-group-item">{{id}}</a>
			{{/each}}
		</div>
	</div>
</div>